header {
  background-image: linear-gradient(blue, green, rgb(59, 175, 59));
  width: 100%;
  position: fixed;
  z-index: 100;
}

nav {
  float: center;
}

nav ul {
  list-style: none;
  overflow: hidden; 
 
}

nav ul li {
  float: right;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
  margin-right: 1rem;
  
}
nav ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  
}
nav ul li:hover {
  background: #7f6ee0;
  border-radius: 0.2rem;
}

#title{
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}